
@import url('http://fontawesome.io/assets/font-awesome/css/font-awesome.css');

@font-face {
	font-family: 'BetimFM';
	font-style: normal;
	font-weight: normal;
	src: local('LemonMilk'), url('font/LemonMilk.otf') format('opentype');
}


body{
	margin: 0;
	padding-top: 0;
	background: #222;


	font-family: 'BetimFM', sans-serif;


	text-transform: uppercase;
}
ic,.ic{
	font-family: FontAwesome;
}
.content{
	display: table;
	width: 100%;
	max-width: 1000px;
	height: 80%;
	top: 10px;
	position: fixed;
	left: 0;
	right: 0;
	margin: 0 auto;
}
.content > .base-logo{
	width: 100%;
	display: table;
}
.content > .base-logo img.logo{
	margin: 0 auto;
	display: table;
	max-width: 500px;
	width: 80%;
}
.background{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -9999999;
}
.background::after{
	width: 100%;
	height: 100%;
	background: #000;
	display: inline-block;
	position: fixed;
	content: " ";
	opacity:  0.8;
}
.content > .section1{
	width: 100%;
	margin-top: 20px;
	position: relative;
	display: table;
}
.content > .section1 > .player{
	width: calc(100% - 340px);
	margin-right: 40px;
	height: auto;
	display: table;
	float: left;
}
.content > .section1 > .player > img.cover{
	height: 250px;
	width: auto;
	border: solid #d4fe0c 5px;
	float: left;
	opacity: 0;
}
.content > .section1 > .player > .info{
	width: calc(100% - 280px);
	float: left;
	margin-left: 18px;
	height: 226px;
	max-width: 400px;
}
.content > .section1 > .player > .info > .vol{
	width: 100%;
	height: 50px;
	display: table;
}
.content > .section1 > .player .vol .volume{
	width: 60%;
	float: left;
	background: transparent;
	border: solid 1px ;
	-webkit-appearance: none;
	outline: none;
}
.content > .section1 > .player .vol .volume{
	width: 59%;
	float: left;
	background: transparent;
	border: solid 1px #e47203;
	-webkit-appearance: none;
	height:5px;
	margin: 0;
	padding: 0;
	margin-top: 21.5px;
	border-radius: 50px;
}
.content > .section1 > .player .vol  .value{
	background: #e47203;
	height: 5px;
	display:table;
	border-radius: 50px;
	position:absolute;
	z-index: -99;
}
.content > .section1 > .player .vol .base-value{
	width: 59%;
	margin: 0;
	padding:0;
	position:relative;
	margin-top: 22.5px;
}
.content > .section1 > .player .vol .volume::-webkit-slider-thumb {
	-webkit-appearance: none;
	background:#e47203;
	height:20px;
	width: 10px;
	border-radius: 50px;
	cursor: pointer;
}
.content > .section1 > .player > .info .playpause{
	float: left;
	width: 20%;
	text-align: right;
	color: #d4fe0c;
	font-size: 50px;
	margin-top: -22.5px;
	transition: all 0.3s;
	line-height: 50px;
	cursor: pointer;
}
.content > .section1 > .player > .info .playpause:hover{
	opacity: 0.4;
	transition: all 0.3s;
}
.content > .section1 > .player > .info .playpause.active{
	color: #e47203;
}
aa{
	font-family: Segoe UI;

	font-weight: 800;
}
.content > .section1 > .player > .info .times-progress{
	width: 100%;
	display: table;
	margin-top: 20px;
	color: #d4fe0c;
	text-shadow: 1px 1px 5px rgba(0,0,0,0.4);
}
.content > .section1 > .player > .info .times-progress .start{
	float: left;
}
.content > .section1 > .player > .info .times-progress .end{
	float: right;
}
.content > .section1 > .player > .info .progress{
	width: 100%;
	background: rgba(255, 255, 255, 0.12);
	height: 15px;
}
.content > .section1 > .player > .info .progress > .value{
	width: 0%;
	transition: all 1s;
	height: 15px;
	background: #e47203;
	max-width: 100%;
}
.content > .section1 .info .music{
	font-size: 50px;
	color: #d4fe0c;
	height: 60px;
	overflow: hidden;
	text-shadow: 0px 0px 10px rgba(0,0,0,0.1);
	margin-top: 20px;
	opacity: 0;
}
.content > .section1 .info .artist{
	font-size: 30px;
	color: #e47203;
	text-shadow: 0px 0px 5px rgba(0,0,0,0.08);
	line-height: 50px;
	opacity: 0;
	overflow: hidden;
}
.content > .section1 > .facebook{
	width: 300px;
	float: left;
	border: solid #d4fe0c 10px;
	border-left: none;
	border-right: none;
	position: absolute;
	top: 0%;
	right: 0;
}
.info .music.marquee{
	-webkit-mask-box-image:-webkit-linear-gradient(left,transparent, black 30%, black 70%, transparent);
}
.parceiros{
	-webkit-mask-box-image:-webkit-linear-gradient(left,transparent, black 30%, black 70%, transparent);
	margin-top: 20px;
}
.parceiros img{
	margin: 5px;
	transition: all 0.3s;
}
.parceiros img:hover{
	margin: 5px;
	transform: scale(1.1);
	transition: all 0.3s;
}
.gp{
	width: 200px;
	right: 50px;
	position:absolute;
	bottom: 10px;
	box-shadow: rgba(255,255,255,0.1) 0px 0px 20px;
	border-radius: 11px;
	cursor:pointer;
}
.next{
	color:#fff;
	display:table;
	width:100%;
}
.next .title-next{
	background:rgba(0,0,0,0.2);
	float:left;
	font-family:calibri;
	padding-left: 10px;
	padding-right: 10px;
	width:120px;
	text-align: center;
	margin-right:5px;
	line-height:20px;
}
.next .next-text{
	float:left;
	width:calc(100% - 145px);
	line-height:20px;
	overflow: hidden;
	opacity: 0;
    white-space: nowrap;
    -webkit-mask-box-image:-webkit-linear-gradient(left, black, black 80%, transparent);
}